*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none
}

/****/
section{
    position: relative;
}
/****/
.head{
    display: flex;
    position: absolute;
    top: 0px;
    left: 140px;
}
/****/
nav , a{
margin-left: 30px;
margin-top: 30px;
}
a:hover{
    padding: 10px;
    border-radius: 30%;
    background-color: lightblue;
    transition-property: background-color;
    transition-duration: 4s;}
/****/
.pages{
    position: relative;
    top: 20px;
    padding-right: 8px;
}
/****/
.title ,p{
    position: relative;
    top: 30px ;
}
/****/
.produits{
    display: flex;
    position:relative ;
    top: 40px;
    flex-wrap: wrap;
    justify-content: space-around;
}
/****/
.produit{
    padding: 20px;
    border: solid 1px #000;
    margin: 2px;
    margin-top: 10px;
    
}
.produit :hover{
    border-radius: 10px;
    box-shadow: 10px 1px 50px 4px black;
}
/****/
h5{
    color: limegreen;
}
/****/
h3{
    color: darkgray;
}
footer{
    position: relative;
    top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.copy {
    color: black;
}
.profil{
    width: 70px;
    border-radius: 50%;
}
@media screen and (max-width: 500px) {
    .head{
        display: flex;
        position: relative;
        top:10px;
        left: 0;
    }
    .pages{
        left: 30px;
    }
    .title{
        position: relative;
        top: 30px ;
        left: 100px;
        padding: 20px;
    }
    .logo{
        position: relative;
        width: 150px;
        left: 170px;
    }
    .produits{
        top: 70px;
    }
    .sct2{
        position: relative;
        top: 30px;
    }
    .profil{
        left: 200px;
        top: 30px;
    }
    .copy{
        top: 120px;
        left: 130px;
    }
  }
  @media screen and (max-width: 700px) {
    .head{
        display: flex;
        position: relative;
        top:10px;
        left: 0;
    }
    .pages{
        left: 30px;
    }
    .title{
        position: relative;
        top: 30px ;
        left: 100px;
        padding: 20px;
    }
    .logo{
        position: relative;
        width: 150px;
        left: 170px;
    }
    .produits{
        top: 70px;
        width: 100%;
    }
    .sct2{
        position: relative;
        top: 30px;
    }
    .profil{
        left: 200px;
        top: 30px;
    }
    .copy{
        top: 120px;
        left: 130px;
    }
  }
@media print {
    .section1{
        display: none;
    }
}